.btn {
    padding: 5px 5px;
    margin: 0;
    border-radius:50%;
    display:block;
    background-color:white;
    border-width: thin;
    border-color: white;
    border: 1px solid;
    box-shadow: 1px 1px 1px #888888;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


.btn:after {
    content: "";
    background: #888888;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
    border-radius: 50%;
  }
  
  .btn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }


@media screen and (max-width: 600px) {
    .modal {
        width: 90vw;
        max-width: 90vw;
    } 
    
  }